<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pagina Principal</title>
	<link rel="icon" href="imagen/imagen1.jpg" sizes="32x32">
	<link href="css/stylesheet2.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div class="field">
		<fieldset>
			<div class="fields">
				<fieldset>
					<div class="encabezado">
			            <h1 class="centrado">Registro Docente</h1>
			            <div class="tamano">
				          <a title="docente"><img src="imagen/docente.png" alt="docente"/></a>
				        </div>
			            <p class="centrado">Bienvenid@ al Sistema de Registro UPTFAG (PNFI)</p>
		            </div>
		         <form class="form" id="form">
		            <div class="registro">
			          	<div class="mover">
			          		<input type="text" placeholder="Primer Nombre" name="nombre1" id="nombre1" class="input">
							<input type="text" placeholder="Segundo Nombre" name="nombre2" id="nombre2" class="input">
			          	</div>
			          	<div class="mover">
			          		<input type="text" placeholder="Primer Apellido" name="apellido1" id="apellido1" class="input">
							<input type="text" placeholder="Segundo Apellido" name="apellido2" id="apellido2" class="input">
			          	</div>
			          	<div class="mover">
			          		<input type="text" placeholder="Cedula" name="cedula" id="cedula" class="input">
							<input type="text" placeholder="Fecha de Nac." name="fecha_nac" id="fecha_nac" class="input">
			          	</div>
		            </div>
		            <div class="registro2">
		            	<div class="mover">
							<input type="email" placeholder="Correo Electronico" name="email" id="email" class="input largo">
		          		</div>
		          		<div class="mover">
							<input type="text" placeholder="Dirección" name="direccion" id="direccion" class="input largo">
			          	</div>
			          	<div class="mover">
							<input type="text" placeholder="Fecha de Ingreso a la IUTAG" name="fec_ingr_iutag" id="fec_ingr_iutag" class="input largo">
			          	</div>
			          	<div class="mover">
							<input type="text" placeholder="Materias que Imparte" name="materia_imparte" id="materia_imparte" class="input largo">
			          	</div>
			          	<br>
			          	<div class="mover">
			          		<label for="selec-maestria">Posee una maestria?</label><br>
			          		<select name="select-maestria" class="maestria" id="select-maestria" onclick="activa(this.value)">
								<option value="0" selected>«SELECCIONE»</option>
								<option value="1">SI</option>
								<option value="2">NO</option>
							</select>
							<input type="text" placeholder="Que Maestria" name="maestria" id="dn_maestria" style="display: none; width: 37%;" class="input corto">
			          	</div>
			          	<div class="mover">
							<input type="text" placeholder="Condición de Contrato" name="condic_contrac" id="condic_contrac" class="input largo">
			          	</div>
			          	<div class="mover">
							<input type="text" placeholder="Observación" name="observacion" id="observacion" class="input largo">
			          	</div>
			          	<br>
			            <div class="boton">
							<button id="btn" type="submit" class="btnenviar">Enviar</button>
							<button id="btn" type="reset" class="btnreset">Borrar</button>
						</div>
						</form>
						<br><br><br>
		            </div>
				</fieldset>
			</div>
			<div>
				<ul class="errorr" id="error"><li>Error:</li></ul>
			</div>
		</fieldset>
	</div>/
	<script src="js/validacion_docente.js"></script>
</body>
</html>