<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pagina Principal</title>
	<link rel="icon" href="public/imagen/imagen1.jpg" sizes="32x32">
	<link href="public/css/stylesheet.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div class="field">
		<fieldset>
			<div class="fields">
				<fieldset>
					<h2>Sistema de Registro UPTFAG (PNFI)</h2>
					<br>
					<div class="i_estudiante">
						<div class="tamano">
					        <a title="estudiante" href="?c=Estudiante"><img src="public/imagen/estudiante.png" alt="estudiante"/></a>
					    </div>
						<h2>Alumno</h2>
					</div>
					<div class="i_docente">
						<div class="tamano">
					    	<a title="docente" href="?c=Docente"><img src="public/imagen/docente.png" alt="docente"/></a>
					    </div>
						<h2>Docente</h2>
					</div>
					<br><br><br>
					<br><br><br>
					<br><br><br>
					<br><br>
				</fieldset>
			</div>
		</fieldset>
	</div>
</body>
</html>