body{
	font-family:  'Roboto', Arial, Sans-serif;
	background-image: url('../imagen/fondo.jpg');
	background-size: cover;
}
.field{
	border-radius: 10px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10%;
	background-color: rgba(0, 0, 0, .7);
	border-width: 5px;
	border-color: rgb(255,127,39);
	border-style: solid;
	box-shadow: 5px 10px 7px rgba(0,0,0,.5);
	position: relative;
}
.field fieldset h2{
	color: #ffffff;
	text-align: center;
}
.field fieldset .i_estudiante h2{
	text-align: left;
}
.field fieldset .i_docente h2{
	text-align: right;
}
.fields{
	border-radius: 3px;
	border-width: 3px;
	border-color: rgb(255,127,39);
	border-style: solid;
}
.i_estudiante{
	
}
.i_docente{
  	text-align: right;
}
.tamano img{
    width: 50%;
    height: 50%;
    box-shadow: 5px 10px 7px rgba(0,0,0,.5);
}
.tamano img:hover{
background: #4fb560;
color: #fff;
-webkit-transition:all 0.8s cubic-bezier(.25, .8, .25, 1);
-moz-transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
}